<div class="row">
    <div class="col-md-6 offset-2">
            <h1 class="text-danger">Page Not Found</h1>
            <hr />
            <a class="btn btn-outline-success" asp-controller="SignUp" asp-action="Index">Signup Page</a>
    </div>
</div>